@import "tailwindcss";

* {
	font-family: "Quicksand", sans-serif;
}

.quicksand {
	font-family: "Quicksand", sans-serif;
}

.animated-word {
	transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
	transform-origin: 50% 50% -150px !important;
	will-change: opacity, transform;
}
